.color {
  @include flex(column, space-evenly, center);
  position: relative;
  height: 60vh;
  overflow: hidden;
  width: 100%;
  h2 {
    cursor: pointer;
  }
  .btn-controls {
    @include flex(column, space-evenly, center);
    min-height: 40%;
    &*:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  .sliders {
    position: absolute;
    bottom: 0%;
    color: $color-grey-dark-1;
    background: $color-white;
    padding: 2rem;
    width: 80%;
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
    @include flex(column, flex-end, center);
    // transform: translateY(15rem);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: all 0.5s ease-in-out;
    &:hover {
      transform: translateY(0);
      opacity: 1;
      pointer-events: all;
    }
    &.active {
      transform: translateY(0);
      opacity: 1;
      pointer-events: all;
    }
    &__close {
      align-self: flex-end;
      padding: 1rem 1.4rem;
      background: $color-grey-dark;
      color: $color-white;
      font-size: 1.4rem;
    }
    span {
      align-self: flex-start;
    }
  }
}

input[type="range"] {
  margin: 1rem 0;
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 5rem;
    background: $color-black;
    cursor: pointer;
  }
}
