.container {
  min-height: 100vh;
  width: 80%;
  margin: 8rem auto;
  background: $color-grey-dark;
  color: $color-white;
  box-shadow: 0 0.5rem 4rem $color-black;
  border-radius: 1rem;
  overflow: hidden;
}

.section-header {
  min-height: 5vh;
  text-align: center;
  padding: 3rem;
  background: $color-primary-dark;
}
.section-colors {
  @include flex(row, space-evenly, space-evenly);
  min-height: 60vh;
  background: $color-grey-dark;
  border-top: 0.5rem solid white;
  border-bottom: 0.5rem solid white;
}

.section-palette {
  @include flex(row, space-evenly, center);
  max-width: 80%;
  height: 20vh;
  margin: auto;
  text-align: center;
  p {
    font-size: 1.5rem;
    margin-top: 1rem;
  }
}

.section-header-brew {
  @include flex(row, space-evenly, center);
}
.brew {
  @include flex(row, space-evenly, center);
  text-align: center;
  &-color-box {
    @include flex(row, center, center);
    height: 20rem;
    flex-wrap: wrap;
    *:not(:last-child) {
      margin-right: 0.5rem;
    }
  }
  &-color {
    padding: 5rem;
    font-size: 2rem;
    background-color: red;
    cursor: pointer;
  }

  &-text-box {
    input[type="color"] {
      width: 10rem;
      height: 10rem;
    }
  }
}
.generate-brew {
  background: $color-grey-dark;
  &:hover {
    color: white;
  }
}
.intro {
  color: $color-grey-light-1;
  position: absolute;
  top: 2%;
  right: 10%;
  font-size: 2rem;
  span {
    text-decoration: line-through;
    a {
      color: $color-black;
    }
  }
}
